@font-face {
    font-family: "NHGLt";
    src: url(../fonts/NHaasGroteskTXPro-55Rg.ttf);
    font-weight: normal;
}

form {
    background-color: #f1f1f1;
    padding: 20px; 
    border-radius: 10px; 
    font-family: "NHGLt";
    color: rgba(77, 77, 77);
    max-width: 100%; 
    box-sizing: border-box; 
    margin: 0 auto; 
    overflow: hidden; 
}

form input[type="text"],
form input[type="date"],
form input[type="email"],
form input[type="number"],
form select,
form textarea,
form input[type="file"] {
    display: block;
    width: 100%; 
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc; 
    border-radius: 5px; 
    box-sizing: border-box; 
}

form input[type="file"] {
    border: none; 
    padding: 0;
    margin: 5px;
}

form input[type="radio"],
form input[type="checkbox"] {
    display: inline-block; 
    margin-right: 5px; 
    width: auto; 
    border: none; 
    vertical-align: middle; 
}

form label {
    font-weight: bold;
}

@media (max-width: 768px) {
    form {
        padding: 10px; 
        margin: 10px;
    }

    form input[type="text"],
    form input[type="date"],
    form input[type="email"],
    form input[type="number"],
    form select,
    form textarea,
    form input[type="file"] {
        padding: 10px; 
        font-size: 14px; 
    }
}

.submit-button,
.reset-button {
    display: block;
    width: 100%; 
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc; 
    border-radius: 5px; 
    box-sizing: border-box;
    cursor: pointer; 
    font-weight: bold;
}

.submit-button {
    background-color: lightgreen; 
    color: rgba(77, 77, 77);
}

.reset-button {
    background-color: lightcoral; 
    color: rgba(77, 77, 77);
}

.button {
    display: inline-block;
    padding: 6px 12px;
    margin: 5px;
    background-color: #f2f2f2; /* Light gray background */
    color: #000000; /* Black text */
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    border: 1px solid #c0c0c0; /* Gray border */
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    /* Styles for when the user hovers over the button */
    &:hover {
        background-color: #e0e0e0;
    }
}

